.notTriggerableTransitionButton {
    background: #ffd5c0 url("notTriggerableTransition.gif") no-repeat scroll 3px 4px;
    font-style: italic;
    cursor: help;
    padding: 0 3px 0 9px;
    color: #474747;
}
.notTriggerableTransitionImage {
    background: #ffd5c0 url("notTriggerableTransition.gif") no-repeat scroll 3px 1px;
    font-style: italic;
    cursor: help;
    padding: 0 3px 0 9px;
    border-radius: 5px;
}
